NODE_ENV=development
PORT=3000

# Database Configuration
MONGO_DB_URI=mongodb+srv://<username>:<password>@node-e-commerce.qqed3o8.mongodb.net/
MONGODB_DB_NAME=node-e-commerce
MONGODB_DB_PASSWORD=<password>
MONGODB_DB_USERNAME=<username>